{% if key == 1 %}
{%- for item in ip -%}
set policy-options prefix-list ntp {{ item }}
{% endfor -%}

{% elif key == 2 %}
{% for item in ip -%}
set policy-options prefix-list dns {{ item }}
{% endfor -%}

{% elif key == 3 %}
{% for item in ip -%}
set policy-options prefix-list memcached {{ item }}
{% endfor -%}

{% else %}
    pass
{% endif %}